pip install PyQt5
conda install pandas
conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
pip install diffusers
pip install git+https://github.com/huggingface/transformers
pip install accelerate